@model SportsStore.Domain.Entities.Product

<div class="panel panel-primary">
    <div class="panel-heading"><strong>@Model.Name</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { @id="Id_"+Model.ProductID}))
        {
            @Html.HiddenFor(x => x.ProductID)    
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)        
            @Model.Description
            <br/>
            <div class="row">
                <div class="col-md-4"><p class="text-left"><strong>$@Model.Price</strong></p></div>
                <div class="col-md-8 text-right">
                    <button type="submit" form="Id_@Model.ProductID" class="btn btn-primary">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
                    </button>
                </div>
            </div>
        }
    </div>
</div>
