@model SportsStore.Domain.Entities.Product

<div class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-body">
        @Model.Description
        <br/>
        <p class="text-left"><strong>$@Model.Price</strong></p>
    </div>
    <p></p>
</div>