@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<div class="panel-group">
@foreach (var p in Model.Products) {
    Html.RenderPartial("ProductSummary", p);
}
</div>

<div class="text-center">@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))</div>
