
@{
    ViewBag.Title = "SportsStore: Order Submitted";
}

<div class="panel-group">
    <div class="panel panel-primary">  
        <div class="panel-heading"><strong>Thanks!</strong></div>  
        <div class="panel-body">Thanks for placing your order. We'll ship your goods as soon as possible.</div>
     </div>
</div>


